NEXT_PUBLIC_SUPABASE_URL=https://wboszuiytpcqqiuvrcxt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indib3N6dWl5dHBjcXFpdXZyY3h0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5MjU0OTMsImV4cCI6MjA5MjUwMTQ5M30.DXgXvrot3KhqfvSW4UFdWeJ7Jlkb-FMFn1yXH4SP9iE
